# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.metadata

# Android
android/.gradle/
android/local.properties
android/**/gradle-wrapper.jar
android/app/release/
android/captures/
android/gradlew
android/gradlew.bat
*.iml
.idea/
.DS_Store